.devices {
  padding: 40px 20px;
  background: #F8F8F8;

  &__title {
    color: #7e7e82;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  /* --- Сетка карточек --- */
  &__row,
  &__extra {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__extra {
    display: none;
    margin-top: 10px;
    animation: fadeIn 0.3s ease;

    &.show {
      display: grid;
    }
  }



  &__card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    font-size: 16px;
    color: #333;

    position: relative;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }


  &__icon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  .hidden {
    display: none;
  }




  /* --- Показать все --- */
  &__toggle {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-top: 20px;

    color: #7e7e82;
    font-weight: 500;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: #333;
    }
  }

  &__arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
