.footer__line {
  width: 100%;
  height: 0.5px;
  background: #41F6D7;
  margin-bottom: 24px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 20px 0;
  font-size: 12px;
  color: #7E7E82;

  p {
    max-width: 250px;
    line-height: 1.3;
  }
}
