$font-body: 'TTLakesNeue-Thin', sans-serif;
$font-bold: 'TTLakes-Regular', sans-serif;
$color-bg: #f8f8f8;
$color-text: #1b1c21;
$color-accent: #41f6d7;
$color-gray: #7e7e82;

.layout {
  display: flex;
  min-height: 320px;
  background-color: $color-bg;
}

.menu {
  width: 100%;
  width: 320px;
  background-color: #fff;
  
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  
  > *:not(.services__title-wrapper) {
  padding: 0 24px;
  }

  .menu li:not(.services__title-wrapper) {
    margin-bottom: 15px;
  }


  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 24px 0;
    margin-bottom: 40px;
    width: 100%;
  }

  .services__menu-btn {
    margin-right: 8px;
  }


  &__nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .services__title-wrapper {
      font-family: $font-bold;
      position: relative;
      display: flex;
      align-items: end;
      margin-top: 32px; 
      margin-left: -24px;
    }

    .services__title {
      font-size: 16px;
      color: #7E7E82;
      line-height: 24px;
      font-weight: 500;
      margin: 0;
      padding-left: 24px;
    }

    .menu__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 24px;

      li a {
        text-decoration: none;
        color: $color-text;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        position: relative;
        transition: color 0.3s ease;

        &::before {
          content: '';
          position: absolute;
          left: -24px;
          top: 0;
          bottom: 0;
          width: 4px;
          border-radius: 4px;
          background-color: transparent;
          transition: background-color 0.3s ease;
        }

        &:hover {
          color: $color-gray;

          &::before {
            background-color: $color-accent;
          }
        }
      }
    }
  }

  &__footer {
    margin-top: 140px;

    .menu__contacts {
      display: flex;
      gap: 16px;
      margin-bottom: 16px;

      button {
        background: none;
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.2s ease;
        }
      }
    }

    .menu__info {
      p {
        margin: 0;
        line-height: 24px;
        font-size: 14px;

        &:first-child {
          color: $color-gray;
        }

        &:last-child {
          font-family: $font-bold;
          font-size: 20px;
        }
      }

      .menu-item {
        margin-bottom: 16px;

        .menu-link {
          color: #000;
        }
      }
    }

    .menu__langs {
      display: flex;
      gap: 8px;
      margin-top: 24px;

      button {
        background: none;
        border: none;
        color: $color-text;
        font-size: 14px;
        cursor: pointer;
        transition: color 0.2s ease;

        &.active {
          color: $color-accent;
          font-family: $font-bold;
        }

        &:hover {
          color: $color-accent;
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    box-shadow: none;
    position: fixed;
    z-index: 1000;

    &__header {
      padding: 16px;

      .menu__logo {
        width: 70px;
      }

      .menu__close {
        display: block;
      }
    }

    &__nav {
      flex-grow: 1;
      padding: 0 24px;
    }

    &__footer {
      padding: 24px;
    }
  }


  
}

.content {
  flex-grow: 1;
  padding: 0;
  box-sizing: border-box;
}
