$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: "TTLakesNeue-DBold";
  src: url("/src/fonts/TTLakes-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "TTLakesNeue-Thin";
  src: url("/src/fonts/TTLakes-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "TTLakesNeue-DBold";
  src: url("/src/fonts/TTLakes-Regular.ttf") format("opentype");
}

body {
  padding: 1rem;
  margin: 0;
  font-family: TTLakesNeue-Regular, sans-serif;
  background-color: $bgColor;
  color: $text;
}