@use './components/mixins.scss' as *;
@use './components/menu.scss' as *;
@use './components/services.scss' as *;
@use './components/brands.scss' as *;
@import "swiper/swiper-bundle.css";

.menu {
  display: none;
}
@media (min-width: 768px) {
  .menu {
    display: none;
  }
}

@media (min-width: 1440px) {
  .menu {
    display: block;
  }
}