@use 'components/variables' as *;
@use 'components/mixins' as *;
@use 'main';
@use 'components/brands';
@use 'components/menu';
@use 'components/devices';
@use 'components/prices';
@use 'components/footer';
@import "swiper/swiper-bundle.css";




@font-face {
  font-family: "TTLakesNeue-Thin";
  src: url("/src/fonts/TTLakes-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "TTLakesNeue-DBold";
  src: url("/src/fonts/TTLakes-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "TTLakes-Regular";
  src: url("/src/fonts/TTLakes-Regular.ttf") format("opentype");
}

body {
  margin: 0;
  font-family: TTLakesNeue-Regular, sans-serif;
  background-color: $bgColor;
  color: $text;
}
.content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}